<!--Find me in app/views/courses/add_course.html.erb-->
<h1> Add Course </h1>

<h2> Unfulfilled Requirements </h2>
<table class="table table-striped col-md-12" id="courses">
  <thead>
    <tr>
      <th>Course</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @display.each do |course| %>
      <tr>
        <td>
          <%= course.courseID %>
        </td>
        <td>
            <%= link_to 'Add Class', course(params[:schedID, :uni, :courseID, :semester, :reqID, :taken]), id: 'title_header' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>