<!--Find me in app/views/courses/add_course.html.erb-->
<h1> Add Course </h1>

<h2> Unfulfilled Requirements </h2>
<table class="table table-striped col-md-12" id="courses">
  <thead>
    <tr>
      <th>Course</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @courses_to_fulfill.each do |req, courses| %>
      <tr>
        <td>
          <%= req.reqLabel %>
        </td>
      </tr>
      <tr>
        <% courses.each do |course| %>
          <td>
            <%= course.courseTitle %>
          </td>
          <td>
            <%= button_to "+", :schedule => { :uni => "sma2243", :courseID => course.courseID, :semester => params[:semester], :reqID => req.reqID},'data-confirm' => 'Are you sure?' %>
          </td>
          <% end %>
      </tr> 
    <% end %>
  </tbody>
</table>